@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body {
    background: #f6f7fd !important;
    color: #51526f;
    font-family: 'Roboto', sans-serif !important;
}

p {
    font-size: 18px !important;
}